= simple_form_for @flyer do |f|
	=f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category"}
	=f.input :document
	= f.input :title
	= f.input :description

	=f.button :submit

