- Category.roots.select {|cat| cat.flyers.count > 0}.each do |category|
  %li= link_to category.name, flyers_path(category: category.name)       
  - if category.children.any?
    %ul.tertiary-navigation
      %li
        %h3.navigation-header
          Filter
      -category.children.each do |subcategory|
        %li= link_to subcategory.name, flyers_path(category: subcategory.name)