#hero
	- if user_signed_in?
		%p#intro
			Welcome
			= current_user.name
			%br/
			%span.sub-title
				CHM Marketing Portal.
%ul.flyer-thumb-grid.thumb-grid
	- @flyers.each do |flyer|
		%li	
			= image_tag flyer.document.url(:medium)
			%h2.title= flyer.title
			%p.description= flyer.description