
- Category.select {|cat| cat.logos.count > 0}.each do |category|
  %li= link_to category.name, logos_path(category: category.name)         
  - unless category.children.empty?
    %ul.tertiary-navigation
      %li
        %h3.navigation-header
          Filter
      -category.children{|cat| cat.logos.count > 0}.each do |subcategory|
        %li= link_to subcategory.name, logos_path(category: subcategory.name)