header {
	width: 100%;
	padding: 2rem 0;
	position: absolute;
	z-index: 9999;
}

.main {

	min-height: 100%;
	@include clearfix;
}

.content {
	@include span-columns(8);

	padding: 0px;
	min-height: 100%;
}

.inner-wrap	{
	padding: 25px 35px;
	z-index: 9;
	// border: 1px solid red;
	@include clearfix;
	&.push {
		padding: 325px 25px 25px 25px;
	}
 }

.sidebar {

	padding: 60px 0 0 0;
	
	min-height: 100%;
	height: 100%;

	@include span-columns(4);
}

.navigation {

	@include span-columns(8);
	@include shift(4);

	padding: 15px 0px 15px 15px;
}

#hero-wrap {

	width: 100%;
	height: 300px;

    overflow: hidden;
    position: fixed;

    z-index: 10;

    @include transition(all 0.4s ease);

    &.smaller {
    	height: 140px;
    	#hero:after {
    		background-color: $dark-blue-faded;
    	}
    }
}

#hero {
	width: 100%;
	height: 100%;

	display: block;

	position: relative;
	
	background-image: $hero-image;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;

	&:after{
		content: '';
		z-index: 1;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// opacity: 0;
		background-color: $dark-blue-fade-out;
	    @include transition(all 0.4s ease);
	}

	#intro {
		position: absolute;
		bottom: 25px;
		padding-left: 35px;
		margin-bottom: 0;
		z-index: 2;
	}
}

// .grid_box{ 
// 	@include span-columns(2.5 of 8);
// 	@include omega(3n);	
// }

.thumb-grid {
	width: 100%;
	// padding-top: 50px;
	// border: 1px solid red;
	@include span-columns(8 of 8);
	@include clearfix;
	li {
		margin-right: 0px !important;
		padding: 15px;
		width: calc(100%/3);
		// @include span-columns(3);
		// padding-bottom: 20px;
		img {
			width: 100%;
		}
	}
}
