.thumb-btns{
	width: 100%;
	margin-top: -40px;

	position: relative;
	z-index: 9;
	
	background: $dark-blue-faded;

	opacity: 0;
	@include transform(translateY(40px));


	@include transition(all 0.2s $ease-in-out-circ);
	@include clearfix;
}

.download-btn,
.email-request-trigger,
.modal-trigger{	
	height: 40px;
	width: 50%;
	
	float: left;
	margin: 0;
	padding: 10px 0px;

	background-size: 20px 20px;
	background-position: center center;
	background-repeat: no-repeat;

	@include hide-text;

	@include transition(all 0.2s $ease-in-out-circ);

	&:hover {
		// background-color: $dark-blue;
		background-color: $bright-green;
		box-shadow: 1px 2px 3px rgba(0,0,0,0.05);
	}

}
.download-btn {
	background-image: image-url('patterns/icons/download_20px.png');
}
.email-request-trigger{
	background-image: image-url('patterns/icons/request.png');
}
.download-btn-lrg {
	background-color: $dark-blue;
	line-height: 35px;
	padding: 0px 35px;
	text-align: center;
	color: #ffffff;
	display: block;
	position: absolute;
	bottom: 0;
	background-image: image-url('patterns/icons/download_20px.png');
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center center;
	@include hide-text;
	@include transition(all 0.2s $ease-in-out-circ);
	@include fill-parent;
	&:hover {
		background-color: $dark-blue-faded;
	}
}

.modal-trigger {
	background-image: image-url('patterns/icons/fullview_20px.png');
}

#marketing-request a{
	opacity: 1;
	font-size: 14px;
	text-align: center;
	font-weight: 400;
	width: 200px;
	padding: 10px 20px;
	margin-top: 25px;
	margin-left: - 20px;
	background: $briliant-blue;
	border-radius: 25px;
	color: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0, 0.3);
	@include transition(all 0.5s $ease-in-out-quad);
	&:hover {
		box-shadow: 1px 1px 3px rgba(0,0,0, 0.0);
		text-shadow: 1px 1px 3px rgba(0,0,0, 0.3);
		background: shade($briliant-blue, 20%);
	}
}

.admin-btns {
	background-color: transparent;
	font-size: 10px;
	text-align: center;
	line-height: 15px;
	width: 50%;
	
	opacity: 0;
	float: left;

	color: $dark-blue;

	border: 1px solid $dark-blue;
	&.edit {
		border-right: 0px solid $dark-blue;
	}
	&:hover {
		background-color: tint($dark-blue-faded, 15%);
		&.delete {
			color: red;
		}
		&.edit {
			color: green;
		}
	}
}

