// Place all the styles related to the Flyers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	-webkit-font-smoothing: antialiased;
} 

body {
	font-family: "mr-eaves-modern",sans-serif;
	font-weight: regular;
	letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
}

.notice,
.alert {
	display: none;
}

.main {
	
	background-color: $light-gray;

}

.content {
	background-color: #ffffff;
}



.flyer-thumb-grid {
	@extend .list-unstyled;
}


.thumb-grid {
	@include clearfix;
	li {
		@include span-columns(3 of 12);
		@include omega(4n);
		.thumb-image-wrapper  {
			border-radius: 3px;
			box-shadow: $thumb-shadow;
			overflow: hidden;
			background-color: $dark-blue;
			position: relative;
			line-height: 0;
			margin-bottom: 15px;
			img {
				@include transition(all 0.2s $ease-in-out-circ);
			}
		}

		&:hover {

			img {
				opacity: 0.8;
			}
			.thumb-btns{

				opacity: 1;
				@include transform(translateY(0px));
			}

			.title,
			.description {
				color: $dark-blue;
			}
		}
	}
}

footer {
	background-color: $footer-bg-color;
	border-top: 1px solid $dark-blue-faded;
}


.new-flyer	{
	@include pad(25px);
}