.title,
.description {
	font-size: 11px;
	color: $dark-blue-faded;
}

.title{
	font-weight: bold;
}

.description span {
	display: block;
	color: orange;
	font-size: 8px;
	padding-top: 15px;
	text-transform: uppercase;
}

#hero #intro {
	color: $intro-color;
	font-size: 48px;
	font-weight: 600;
	line-height: 36px;
	span.sub-title {
		font-size: 26px;
		font-weight:  200 !important;
		text-transform: uppercase;
	}
}

.navigation-header {

	color: $dark-blue;
	font-weight: 400;
	margin-bottom: 12px;

	// text-shadow: 1px 1px 2px rgba(255,255,255,0.03), 1px 1px 0px rgba(0,0,0,0.08);
}

.navigation {
	@extend .list-unstyled;

	li {
		font-size: 14px;
		line-height: 2.3em;

		a {
			width: 100%;
			text-decoration: none;
			color: $dark-blue-faded;
			display: block;
			padding-left: 15px;
			margin-left: -15px;
			background-color: $light-gray;
			@include transition(all 0.2s $ease-in-quad);
			&:hover {
				// color: $briliant-blue;
				background-color: $light-gray-darker;
				// opacity: 1;
				// @include linear-gradient(to right, transparent, $dark-blue-fade-out);
			}
		}
	}
}

.headline {
	color: $dark-blue;
	font-size: $headline-size;
	font-weight: 400;
}

.sub-headline {
	color: $dark-blue-faded;
	font-size: $sub-headline-size;
}

footer { 
	text-align: center;
	h4{
		color: $briliant-blue;
		font-size: 24px;
		font-weight: bold;
	    line-height: 160px;
		a {
			color: $dark-blue-faded;
			font-weight: 400;
		}
	}
}