.title,
.description {
	font-size: 11px;
	color: $dark-blue-faded;
}

.title{
	font-weight: bold;
}

.description span {
	display: block;
	color: orange;
	font-size: 8px;
	padding-top: 15px;
	text-transform: uppercase;
}

#hero #intro {
	color: $intro-color;
	font-size: 48px;
	font-weight: 600;
	line-height: 36px;
	span.sub-title {
		font-size: 26px;
		font-weight:  200 !important;
		text-transform: uppercase;
	}
}

.navigation-header {
	font-size: 18px;
	font-weight: bold;

	color: $dark-blue-faded;

	margin-bottom: 25px;
}

.navigation {
	@extend .list-unstyled;

	li {
		line-height: 32px;

		a {
			width: 100%;
			text-decoration: none;
			color: $dark-blue;
			display: block;
			@include transition(all 0.2/s $ease-in-quad);
			&:hover {
				color: $briliant-blue;
				@include linear-gradient(to right, transparent, $dark-blue-fade-out);
			}
		}
	}
}

.headline {
	color: $dark-blue;
	font-size: $headline-size;
	font-weight: bold;
}

.sub-headline {
	color: $dark-blue-faded;
	font-size: $sub-headline-size;
}

footer { 
	text-align: center;
	h4{
		color: $briliant-blue;
		font-size: 24px;
		font-weight: bold;
	    line-height: 160px;
		a {
			color: $dark-blue-faded;
			font-weight: 400;
		}
	}
}