//colors

$dark-blue: rgba(105, 125, 143, 1);
$dark-blue-faded: rgba(105, 125, 143, 0.5);
$dark-blue-fade-out: rgba(105, 125, 143, 0.05);

$briliant-blue: #2d80ed;

$intro-color: #ffffff;

//images

$hero-image: url(hero.png);
