//colors

$dark-blue: rgba(105, 125, 143, 1);
$dark-blue-faded: rgba(105, 125, 143, 0.5);
$dark-blue-fade-out: rgba(105, 125, 143, 0.05);

$briliant-blue: #2d80ed;

$intro-color: #ffffff;

$light-gray: tint( rgb(105,125,143), 80%);
$light-gray-darker: tint( rgb(105,125,143), 70%);

//images

$hero-image: url(hero.png);


//font-sizing

$headline-size: 48px;
$sub-headline-size: 24px;

//shadow 

$thumb-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);


// Background

$footer-bg-color: #fafafa;