
header {
	nav {
		float: right;
		a {
			margin-left: 1.5rem;
			line-height: 2;
			color: #9B9B9B;
			text-decoration: none;
			color: tint($bright-green, 95%);
			text-transform: capitalize;
			text-shadow: 1px 1px 2px $dark-blue;
			@extend .transition;
			&:hover {
				color: $bright-green;
			}
			&.button {
				// color: $bright-green;
				// color: shade($bright-green, 25%);
				text-shadow: 1px 1px 2px $dark-blue-faded;
				// border: 0;
				color: #fff;
				background-color: $dark-blue;
				border: 1px solid shade($dark-blue, 25%);
				&:hover {
					// color: $bright-green;
					// border: 1px solid $bright-green;
					text-shadow: 1px 1px 2px $dark-blue;
					background-color: shade($dark-blue, 25%);
				}
			}
		}
	}
}


.secondary-navigation,
.tertiary-navigation {
	margin-top: 35px;
}

#logo {
	// float: left;
	font-size: 1.75rem;
	// width: 66px;
	height: 66px;
	opacity: 1; 
	margin-bottom: 60px;   
	// margin-left: 40px;
	a {
		@include hide-text;
		background-image: url(patterns/chm-logo.svg);
		color: #333233;
		text-decoration: none;
		display: block;
		width: 100%;
		opacity: 1;
		background-repeat: no-repeat;
		background-position: 15px center;
		height: 100%;
		&:hover {
			color: #50A7C7;
			background-color: transparent;
		}
	}
}

.pagination {
	padding: 0px 45px;
	color: $dark-blue;
	// background-color: $dark-blue-faded;
	&.push {
		padding-top: 340px;
	}
	.headline,
	.sub-headline {
		display: inline-block;
		margin: 0;
	}
	.headline {
		// color: $dark-blue;
		font-size: $headline-size;
		// padding-right: 20px;
		font-weight: bold;
	}

	.sub-headline {
		// color: $dark-blue-faded;
		// color: $bright-green;
		font-size: $sub-headline-size;
		font-weight: 400;
	}

}

.active {
	a {
		color: $briliant-blue !important;
		font-weight: bold;
	}
}

.scrollToTop {
    margin: 0;
    position: fixed;
    bottom: 25px;
    right: 25px;;
    z-index: 100;
    display: block;
    opacity: 0;
    text-decoration: none;
    color: $dark-blue;
    background-color: $dark-blue-faded;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    @extend .transition;
}

.show-scroll{
	opacity: 1;
}

.scrollToTop:hover {
    background-color: $dark-blue;
    color: tint($dark-blue, 50%);
    text-decoration: none;
}


.secondary{
	padding-left: 15px;
}